{
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": false,
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": [
    "plugin:eslint-plugin/recommended"
  ],
  "rules": {
    "eslint-plugin/require-meta-schema": 0,
    "eslint-plugin/require-meta-type": 0
  }
}
